/* A new font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style */
/* -------------- */
body {
    font-family: 'Poppins', sans-serif;

}

.top-page {
    display: flex;
    justify-content: center;
    background-color: #161616;
    height: 646px;
    width: 1321px;
    margin-left: 115px;
    padding: 20px;
    border-radius: 10px;
}

.top-page img {
    height: 90%;
}

.top-page h1,
p {
    color: white;
    margin-left: 90px;

}

.top-page h1 {
    font-size: 70px;
}

/* 2nd section */
main {
    display: flex;
}

.section-two {
    margin-top: 200px;
    margin-left: 20px;
}

.section-two {
    width: 312px;
    height: 200px;

    background-color: #161616;
    border-radius: 10px;

}

.section-part a {
    text-decoration: none;
    margin-top: 10px;
    color: #161616;



}

/* list and grid */

.list {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin-top: 30px;
    background-color: white;
    width: 200px;
    margin-left: 45px;
    border-radius: 10px;
    text-align: center;

}

.grid-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 35px;
    margin-left: 30px;

}

.grid-two p {
    color: black;
}

/* footer */
.footer {
    background-color: #161616;
}

footer h1 {
    margin-top: 100px;
    text-align: center;
    color: white;

}

footer span {
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
}

footer div {
    height: 200px;
    background-color: #161616;
}

.fa-brands {
    align-content: center;
    justify-content: space-evenly;
}

/* view */
@media screen and (max-width: 576px) {
    .grid-two {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .grid-two {
        grid-template-columns: repeat(2, 1fr);
    }
}